*.o
*.zip
*.png
zlib-1.3.1/
libpng-1.6.40/
*.gz
.vscode/
assignment3/assignment3/
fern
lab4
pngExample
fernPNG

assign2/testTransform
Lab3/car
Lab3/car2
Lab3/MakeFile
testPngExamp
assignment4/trieTest
assignment4/*
Lab6/animal
